<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="simplart.Properties.Settings.SIMPLART_CONNECTION"
            connectionString="DATA SOURCE=HEGLOCAL;PASSWORD=Simplart_data;PERSIST SECURITY INFO=True;USER ID=SIMPLART_DATA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
